/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .zorise button {
    width: 99%;
    padding: 10px;
    font-size: 20px;
    background: #309fbd;
    border-radius: 0px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}